html {
	position: relative;
	width: auto; 
}

.custom-navbar {
    background-color: rgba(0,0,0,0);
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    color: white;
  }

.navbar-nav {
    margin-left: 20%;
}
.navbar-nav li {
    padding: 0 70px;
}

.opaque {
    background-color: rgba(38,144,212,1);
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.awal {
    background : url("../assets/jayawijaya.jpg") no-repeat fixed;
    background-size: 1366px 768px;
    height: 668px;
}

.pull-right {
    text-decoration: none;
    float: left;
}

.satu {
    background: url('../assets/Bukitraya.jpg') no-repeat;
    height: 668px
}

.sum p{

    margin-right: 18%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 90px;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.11em;

    color: rgba(66, 71, 193, 0.86);
}

.sum {
    margin-top: 25%;
    width: 600px;
    height: 91px;
}

.mit {
    margin-left: 19%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 80px;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #E1E3EC;


}

.si-glyph * {
    fill: white;
    }
    

.go {
    margin-top: 100px;
    color: white;
    font-size: 36px;
}

.tujuh {
    margin-top: 25%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.bukit {
    margin-top: 38%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    font-size: 48px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;


}

.s {
    margin-top: 5%;
}


.tujuh img {
    width: 30px;
    height: 30px;
}

.goup {
    display: none;
    position: fixed;
    margin-left: 94%;
    bottom: 30px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.goup img {
    width: 50px;
    height: 50px;
}

.goupactive {
    display: block ;
    transition: display 2s ease-in-out 3s;
}

@media(max-width: 786px) {
    
}